#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #080710;
  a {
    text-decoration: none;
  }
}

.bg {
  width: 430px;
  height: 520px;
  position: absolute;
  z-index: -1;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.bg .circle {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.circle:first-child {
  background: linear-gradient(to right, #41295a, #2f0743);
  left: -80px;
  top: -80px;
}
.circle:last-child {
  background: linear-gradient(to right, #cac531, #f3f9a7);
  right: -30px;
  bottom: -80px;
}
