.main-container {
  min-height: 520px;
  max-height: 520px;
  width: 330px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  * {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }

  .users-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    overflow-y: auto;
  }

  button {
    width: 92%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.4s, color 0.3s, transform 0.3s;

    &:hover {
      background-color: #080710;
      color: #ffffff;
      transform: scale(1.05);
    }
  }
  .profile--card {
    padding: 10px 20px;
    border-radius: 15px;
    display: flex;
  }

  .profile--content {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;

    span {
      font-weight: 100;
    }
  }
  .list-title {
    margin: 20px 0 0 0;
  }
}
