.link-back {
    i {
      border: none;
      position: absolute;
      top: 30px;
      left: 40px;
      font-size: x-large;
      color: #ffffff; 
      transition: color 0.3s; 
  
      &:hover {
        color: #080710; 
      }
    }
  }
  
  .terms {
    display: flex;
    align-items: center;
    font-size: 14px;
  
    .input-checkbox {
      height: 16px;
      width: 16px;
      border-radius: 3px;
      margin-right: 10px;
    }
  }
  
  .label {
    display: block;
    margin-top: 14px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
  }
  
  h3 {
    margin-top: 0;
  }
  