.profile--card {
  background-color: #222a70ba;
  flex-grow: 1;
  height: 180px;
  padding: 10px 20px;
  border-radius: 15px;
  display: flex;
  margin-bottom: 20px;
}

.profile--content {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;

  span {
    font-weight: 100;
  }
}
